@import url('http://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913');
                

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Nexa', sans-serif;
    font-weight: bold;

}
